{{! Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ }}
<div>
    <a class="table-clink" href="{{ routeTo 'editRouteView' id }}">
        <div class="image circle">
            <i class="fa fa-sitemap"></i>
        </div>
        {{ name }}
    </a>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
        </button>
        {{> templates/openig/admin/routes/components/RoutePopupMenu }}
    </div>
</div>
<div class="clearfix"></div>
<p class="show">
    <span class="text-muted">{{t "templates.routes.tableColumns.url"}}:</span>
    {{ url }}
</p>
<p class="show">
{{#if deployed}}
    <span class="text-success">
        <span class="text-muted">{{t "templates.routes.tableColumns.status" }}:</span>
        <i class="fa fa-check-circle"></i>
        {{t "templates.routes.deployedState" }}
    </span>
{{else}}
    <span class="text-danger resource-unavailable">
        <span class="text-muted">{{t "templates.routes.tableColumns.status" }}:</span>
        <i class="fa fa-exclamation-circle"></i>
        {{t "templates.routes.undeployedState" }}
    </span>
{{/if}}
</p>
