/*
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2015 ForgeRock AS.
 */

body {
    border: 0;
    color: #333;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    outline: 0;
    padding: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
}

form {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}

input {
    display: block;
    width: 100%;
}

button {
    float: right;
    margin-bottom: 10px;
}

pre {
    background-color: #eee;
    color: #000;
    border: 1px dashed #ccc;
    padding: 5px;
    word-wrap: break-word;
}

hr {
    border: 0;
    border-bottom: 1px dashed #eee;
    background: #ccc;
    clear: both;
}
