# DOCS-212 Redirect away from obsolete in-progress documentation
# sending obsolete formats to the Bootstrap-styled HTML.

### OpenIG docs ###

# EPUB
RedirectMatch 301 ^/doc/OpenIG-Gateway-Guide.epub        http://openig.forgerock.org/doc/bootstrap/gateway-guide/
RedirectMatch 301 ^/doc/OpenIG-Reference-Guide.epub      http://openig.forgerock.org/doc/bootstrap/reference-guide/
RedirectMatch 301 ^/doc/OpenIG-Release-Notes.epub        http://openig.forgerock.org/doc/bootstrap/release-notes/

# Single page HTML
RedirectMatch 301 ^/doc/gateway-guide/(.*)               http://openig.forgerock.org/doc/bootstrap/gateway-guide/$1
RedirectMatch 301 ^/doc/reference-guide/(.*)             http://openig.forgerock.org/doc/bootstrap/reference-guide/$1
RedirectMatch 301 ^/doc/release-notes/(.*)               http://openig.forgerock.org/doc/bootstrap/release-notes/$1

# RTF
RedirectMatch 301 ^/doc/OpenIG-Integrators-Guide.rtf     http://openig.forgerock.org/doc/bootstrap/gateway-guide/
RedirectMatch 301 ^/doc/OpenIG-Reference-Guide.rtf       http://openig.forgerock.org/doc/bootstrap/reference-guide/
RedirectMatch 301 ^/doc/OpenIG-Release-Notes.rtf         http://openig.forgerock.org/doc/bootstrap/release-notes/

# Webhelp
RedirectMatch 301 ^/doc/webhelp/gateway-guide/(.*)       http://openig.forgerock.org/doc/bootstrap/gateway-guide/
RedirectMatch 301 ^/doc/webhelp/reference-guide/(.*)     http://openig.forgerock.org/doc/bootstrap/reference-guide/
RedirectMatch 301 ^/doc/webhelp/release-notes/(.*)       http://openig.forgerock.org/doc/bootstrap/release-notes/