<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<ul class="dropdown-menu pull-right" role="menu">
    <li><a href="{{ routeTo 'editAppView' id }}"><i class="fa fa-pencil"></i>{{t "templates.apps.edit"}}</a></li>
    <li class="app-export"><a href="#"><i class="fa fa-external-link"></i>{{t 'templates.apps.exportConfig'}}</a></li>
    <li class="app-duplicate"><a href="#"><i class="fa fa-copy"></i>{{t 'templates.apps.duplicate'}}</a></li>
    {{#if deployed}}
    <li class="app-undeploy"><a href="#"><i class="fa fa-ban"></i>{{t 'templates.apps.undeploy'}}</a></li>
    {{else}}
    <li class="app-deploy"><a href="#"><i class="fa fa-rocket"></i>{{t 'templates.apps.deploy'}}</a></li>
    {{/if}}
    <li class="divider"></li>
    <li class="app-delete"><a href="#"><i class="fa fa-times"></i>{{t "common.form.delete"}}</a></li>
</ul>
