{{! Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ }}
<div class="form-horizontal">
    <label class="control-label col-xs-2 col-sm-3">{{t "templates.apps.parts.throttling.lblAllow"}}</label>
    <div class="col-xs-10 col-sm-9">
        <div class="form-group col-md-3 col-lg-3">
            <input type="number" class="form-control" name="numberOfRequests" value="{{requests}}" min="1" data-validator="{{validator}}" data-validator-event="keyup blur" autofocus>
            <span class="error form-control-feedback"><i class="fa validation-icon"></i></span>
        </div>
        <div class="form-group col-xs-4 col-sm-4 col-lg-3">
            <label class="control-label col-xs-12">{{t "templates.apps.parts.throttling.lblPer"}}</label>
        </div>
        <div class="form-group col-xs-4 col-sm-4 col-md-3 col-lg-3">
            <input type="number" class="form-control" name="durationValue" value="{{duration}}" min="1" data-validator="{{validator}}" data-validator-event="keyup blur">
            <span class="error form-control-feedback"><i class="fa validation-icon"></i></span>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
            <select class="form-control generic-selectize selectized" name="durationRange"/>
        </div>
    </div>
</div>